<p>StreetWise provides walking directions that take your environment into account. StreetWise uses <a href="https://data.sfgov.org/">SFGov Crime Data</a> and <a href="http://wiki.openstreetmap.org/wiki/San_Francisco,_California">OpenStreetMap Data</a> to provide the best route possible from point A to point B.</p>
<footer>
  <p>Created by <a href="http://jameshulley.com">James Hulley</a></p>
</footer>