<form id="directions" action="directions/:id">
  <div class="form-group">
    <input type="text" id="start-point" placeholder="Starting Location" name="start_point">
    <input type="text" id="end-point" placeholder="Ending Location" name="end_point">
  </div>
  <button type="submit" class="btn btn-default">Get Directions</button>
</form>