<div class="directions-group row">
  <div class="col-md-10 row">
    <div class="col-md-6">
      <input type="text" id="origin" class="form-control" placeholder="Starting Location" name="origin">
    </div>
    <div class="col-md-6">
      <input type="text" id="destination" class="form-control" placeholder="Ending Location" name="destination">
    </div>
  </div>
  <div class="col-md-2 search">
    <button class="btn btn-default directions btn-md" type="submit">Get Directions</button>
  </div>
</div>
