<nav class="navbar navbar-fluid-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse" id="about-toggle">
        About
      </a>
      <a class="brand" href="#">Streetwise</a>
      <div class="container-fluid nav-collapse">
        <p>About content</p>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</nav>

<!--
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-header">
    <a class="navbar-brand" href="#">Brand</a>
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
    <div class="navbar-header navbar-right">
      <p class="navbar-text">
      <a href="#" class="navbar-link">Username</a>
      </p>
    </div>
  </div>
</nav>
-->