<nav class="navbar navbar-default navbar-fluid-top">
  <div class="navbar-header">
    <a class="navbar-brand" href="#">Streetwise</a>
    <button id="about-btn" type="button" class="navbar-toggle btn btn-default" data-toggle="collapse" data-target=".navbar-collapse">
      About
    </button>
    <button id="search-btn" type="button" class="navbar-toggle btn btn-default">
      <span class="glyphicon glyphicon-search"></span>
    </button>
  </div>
  <div class="navbar-collapse collapse">
    <%= render 'shared/about' %>
  </div>
</nav>