<nav class="navbar navbar-default navbar-fluid-top">
  <div class="navbar-header">
    <a class="navbar-brand" href="#">Streetwise</a>
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      About
    </button>
  </div>
  <div class="navbar-collapse collapse">
    <%= render 'shared/about' %>
  </div>
</nav>