<div class="row slider-row">
  <div class="col-md-1">
    <button id="safer" type="button" class="btn btn-success">&laquo; Safer</button>
  </div>
  <div id="slider" class="col-md-10"></div>
  <div class="col-md-1">
    <button id="shorter" type="button" class="btn btn-danger">Shorter &raquo;</button>
  </div>
</div>