<div class="row slider-row">
  <div class="col-md-1">
    <button type="button" class="btn btn-success">&laquo; Safest</button>
  </div>
  <div id="slider" class="col-md-10"></div>
  <div class="col-md-1">
    <button type="button" class="btn btn-danger">Shortest &raquo;</button>
  </div>
</div>