<%= render 'shared/directions_form' %>
<div id="errors" class="alert alert-danger"></div>
<%= render 'shared/slider' %>

<div id="map-container">
  <div id="map-canvas"></div>
</div>

<div class="modal"></div>