.modal {
  display:    none;
  position:   fixed;
  z-index:    1000;
  top:        0;
  left:       0;
  height:     100%;
  width:      100%;
  background: rgba( 255, 255, 255, .8 )
              url('http://i.stack.imgur.com/FhHRx.gif')
              50% 50%
              no-repeat;
}

body.loading .modal {
    display: block;
}

#about-toggle {
  margin: 5px;
  color: #777777;
  text-shadow: none;
}

.directions-group {
  margin-bottom: 15px;
  overflow: hidden;
}

#map-canvas {
  margin-bottom: 15px;
}

button.directions {
  width: 100%;
}

.search {
  margin: 0 15px;
  padding: 0;
}

.slider-row {
  margin-bottom: 15px;
}

#slider {
  margin-top: 10px;
}

.slider-row button {
  width: 100%;
  border-radius: 20px;
  font-size: .750em;
}

#errors {
  overflow: hidden;
}

@media (min-width: 1200px) {
  #slider {
    width: 83.33%;
  }
  .slider-button {
    width: 8.333%;
  }
}

@media (min-width: 550px) and (max-width: 1200px) {
  #slider {
    width: 66.66%;
  }
  .slider-button {
    width: 16.66%;
  }
}
