#about-toggle {
  margin: 5px;
  color: #777777;
  text-shadow: none;
}

.directions-group {
  margin-bottom: 15px;
}

#map-canvas {
  margin-bottom: 15px;
}

button.directions {
  width: 100%;
}

.search {
  margin: 0 15px;
  padding: 0;
}

.slider-row {
  margin-bottom: 15px;
}

#slider {
  margin-top: 10px;
}

.slider-row button {
  width: 100%;
  border-radius: 20px;
}

#errors {
  overflow: hidden;
}